name: CI

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    container: fedora:latest

    steps:
      - name: Install Git
        run: dnf install -y git

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: remote

      - name: Install dependencies
        run: |
          dnf install -y gcc-gdc ldc dub glib2-devel make pkg-config

      - name: Build gidgen
        run: |
          cd gidgen
          dub build --compiler=ldc2
          cp gidgen /usr/local/bin/

      - name: Gidgen version
        run: gidgen/gidgen --version

      - name: make clean
        run: make clean

      - name: Generate bindings
        run: gidgen/gidgen --defs defs --gir-path gir --pkg-path . --subpkg-path packages --report --report-file report.txt

      - name: Make packages
        run: dub build --parallel --compiler=ldc2 --debug debug

      - name: Run gidgen tests
        run: |
          cd gidgen
          make run-test
